<div class="container-fluid">
  <div class="row">
    <div style="background-color: #303030; height: 93vh" class="col-md-3">
      <div>
        <mat-card class="mt-3">
          <form [formGroup] = "todoForm">
            <mat-form-field appearance="outline">
              <mat-label>Task name</mat-label>
              <input formControlName="item" matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>add task name</mat-hint>
            </mat-form-field>
            <button (click)="addTask()" mat-raised-button [disabled]="todoForm.invalid" *ngIf="!isEditEnable" color="primary">Add</button>
            <button (click)="editTask()" mat-raised-button [disabled]="todoForm.invalid" *ngIf="isEditEnable" color="primary">Edit</button>
          </form>
        </mat-card>
      </div>
    </div>
    <div class="col-md-9 mt-3">
      <div cdkDropListGroup>
        <div class="row">
          <div class="col-md-4">
          <!--todo-->
            <div class="example-container">
              <h2 class="head-title">To do <span *ngIf="tasks.length > 0"> - {{tasks.length}}</span> </h2>

              <div
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="tasks"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of tasks; let i = index" cdkDrag>{{item.description}}
                  <div class="box">
                    <button mat-icon-button color="warn" (click)="deleteTask(i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="onEdit(item, i)">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
          <!--inprogress-->
            <div class="example-container">
              <h2 class="head-title">In progress <span *ngIf="inprogress.length > 0"> - {{inprogress.length}}</span></h2>

              <div
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="inprogress"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of inprogress; let i = index" cdkDrag>{{item.description}}
                  <div class="box">
                  <button mat-icon-button color="warn" (click)="deleteTaskInProgress(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <!--done-->
            <div class="example-container">
              <h2 class="head-title">Done <span *ngIf="done.length > 0"> - {{done.length}}</span></h2>

              <div
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="done"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of done; let i = index" cdkDrag>{{item.description}}
                  <div class="box">
                    <button mat-icon-button color="warn" (click)="deleteTaskInDone(i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" style="color: lime">
                      <mat-icon>check_circle</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
