/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  height: 100%;
  background: linear-gradient(to left, #ff9494, #9870f5);
}
.mat-button.mat-accent,
.mat-icon-button.mat-accent,
.mat.stroked-button.mat-accent {
  color: #00e676;
}
